# Flask Setup
SECRET_KEY=sua_chave_secreta_aqui

# Configuração do Banco de Dados
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=sgmi

# Configuração MQTT (HiveMQ ou Local)
MQTT_URL=broker.hivemq.com
MQTT_USER=seu_usuario_mqtt
MQTT_PASSWORD=sua_senha_mqtt

# Configuração de E-mail (Gmail App Password)
MAIL_USER=seu_email@gmail.com
MAIL_PASS=sua_senha_de_app

# Google Gemini API
GEMINI_KEY=sua_api_key_aqui